<!DOCTYPE html>
<html>
<!--[if IE 6]><![endif]-->
<!--[if IE 7]><![endif]-->
<!--[if IE 8]><![endif]-->
<!--[if IE 9]><![endif]-->
<!--[if gt IE 8]><![endif]-->
	<head>
		<meta charset="utf-8" />
		<title></title>

		<!-- Metadata -->
		<meta name="description" content="" />
		<meta name="author" content="" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Apple Stuff -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<!-- Styles -->
		<link rel="stylesheet" media="screen, print" href="/static/css/pure.css" />
		<link rel="stylesheet" media="screen, print" href="/static/css/global.css" />
				
	</head>

	<body>
		<div id="upper">UPPER</div>
		<div id="content">CONTENT AREA</div>
   		

	</body>

	<script data-main="/static/lib/r.config.js" src="/static/lib/r.js"></script>
</html>
